{
  "openapi": "3.1.0",
  "info": {
    "title": "Remote OK Jobs API",
    "description": "Remote OK is the #1 remote-only jobs board on the web. It has over 30,000+ remote job listings, adding new ones every day. With this API, now you can build apps with our data feed which covers 80% of remote jobs on the web.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://remoteok.com/"
    }
  ],
  "paths": {
    "/api": {
      "get": {
        "summary": "Get Remote Jobs",
        "operationId": "GetJobs",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JobsResponse"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Jobs": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Job"
        },
        "example": [
          {
            "last_updated": 1733346004,
            "legal": "API Terms of Service: Please link back (with follow, and without nofollow!) to the URL on Remote OK and mention Remote OK as a source, so we get traffic back from your site. If you do not we'll have to suspend API access.\n\nPlease don't use the Remote OK logo without written permission as it's a registered trademark, please DO use our name Remote OK though."
          },
          {
            "slug": "remote-senior-backend-golang-engineer-mailgun-send-mailgun-1059249",
            "id": "1059249",
            "epoch": 1733260504,
            "date": "2024-12-03T21:15:04+00:00",
            "company": "Mailgun",
            "company_logo": "",
            "position": "Senior Backend Golang Engineer Mailgun Send",
            "tags": [
              "golang",
              "senior",
              "golang",
              "engineer",
              "backend"
            ],
            "description": "Remote - The Mailgun Sending Pipeline team at Sinch is responsible for a sophisticated and robust email delivery platform that delivers well over 1 billion emails daily to people all around the globe! With scalability, stability, and throughput at the forefront of priorities, th...<br/><br/>Please mention the word **AMELIORATE** and tag RMzguNjguMTM0LjE5NA== when applying to show you read the job post completely (#RMzguNjguMTM0LjE5NA==). This is a beta feature to avoid spam applicants. Companies can search these words to find applicants that read this and see they're human.",
            "location": "",
            "salary_min": 70000,
            "salary_max": 110000,
            "apply_url": "https://remoteOK.com/remote-jobs/remote-senior-backend-golang-engineer-mailgun-send-mailgun-1059249",
            "logo": "",
            "url": "https://remoteOK.com/remote-jobs/remote-senior-backend-golang-engineer-mailgun-send-mailgun-1059249"
          },
          {
            "slug": "remote-job-19004-junior-quality-assurance-engineer-brazil-ciampt-1059247",
            "id": "1059247",
            "epoch": 1733259610,
            "date": "2024-12-03T21:00:10+00:00",
            "company": "CI&amp;T",
            "company_logo": "https://remoteok.com/assets/img/jobs/a33f588b65a1bc402fa0bff83cb389631733259610.png",
            "position": "Job 19004 Junior Quality Assurance Engineer Brazil",
            "tags": [
              "support",
              "software",
              "testing",
              "test",
              "qa",
              "devops",
              "java",
              "mobile",
              "junior",
              "health",
              "engineer",
              "engineering"
            ],
            "logo": "https://remoteok.com/assets/img/jobs/a33f588b65a1bc402fa0bff83cb389631733259610.png",
            "description": "<p><span style=\"font-size: 12pt\">We are</span><b style=\"font-size: 12pt\"> tech transformation</b><span style=\"font-size: 12pt\"> specialists, we are </span><b style=\"font-size: 12pt\">CI&amp;T</b><span style=\"font-size: 12pt\">.</span></p><p><br></p><p><span style=\"font-size: 12pt\">We combine the disruptive power of Artificial Intelligence with human expertise to support large companies in navigating changes in technology and business. With 30 years of experience, 6,000 workers, offices in 10 countries and talents across 5 continents. We operate in the fields of design, strategy, and engineering for global brands, helping clients achieve the full potential of technology as a force for good. Impact is what we deliver.</span></p><p><br></p><p><br></p><p><b>Responsibilities</b></p><p>- Develop and maintain Test Cases of Integration, System, and Acceptance test cases.</p><p>- Test APIs (RESTful and SOAP), with tools like Postman, SoapUI, Bruno, etc.</p><p>- Collaborate with cross-functional teams to define, design, and ship new features.</p><p>- Effectively identify, document, and prioritize bugs.</p><p>- Troubleshoot and resolve issues in a timely manner.</p><p>- Stay up-to-date with the latest industry trends and technologies related to automated tests.</p><p><br></p><p><b>Requirements</b></p><p>- Proven experience as a QA Engineer or Tester.</p><p>- Knowledge of test automation tools such as Selenium, Appium, Playwright, etc.</p><p>- Advanced English: Proficient in both verbal and written communication in English.</p><p>- Experience in testing applications with REST APIs.</p><p>- Strong understanding of automated tests.</p><p>- Ability to work collaboratively in a team environment and communicate effectively with stakeholders.</p><p>- A passion for developing high-quality software and continuous learning.</p><p><br></p><p><b>Nice to Have</b></p><p>- Experience with testing on mobile devices (preferably cross-platform).</p><p>- Understanding of .NET MAUI concepts.</p><p>- Understanding of Java concepts.</p><p>- Familiarity with version control systems.</p><p>- Ability to use tools such as JMeter or LoadRunner to perform performance testing.</p><p>- Understanding of continuous integration development (CI/CD) environments such as Azure DevOps or Jenkins.</p><p><br></p><p>If you are passionate about mobile development and eager to work on innovative projects, we would love to hear from you! Apply now to join our dynamic team and help us drive our success.</p><p><br></p><p>#LI-DG3</p>\\n<p></p><p><br></p><p></p>\\n<p><b style=\"font-size: 12pt\">Our benefits:</b></p><p><span style=\"font-size: 12pt\">- Health plan and dental plan;</span></p><p><span style=\"font-size: 12pt\">- Meal allowances;</span></p><p><span style=\"font-size: 12pt\">- Childcare assistance;</span></p><p><span style=\"font-size: 12pt\">- Extended parenting leave;</span></p><p><span style=\"font-size: 12pt\">- Gympass/Wellhub</span></p><p><span style=\"font-size: 12pt\">- Annual profit-sharing distribution;</span></p><p><span style=\"font-size: 12pt\">- Life insurance;</span></p><p><span style=\"font-size: 12pt\">- Partnership with an online mental health platform;</span></p><p><span style=\"font-size: 12pt\">- CI&amp;T University;</span></p><p><span style=\"font-size: 12pt\">- Discount Club;</span></p><p><span style=\"font-size: 12pt\">- Support Program: psychological guidance; nutritionist and more;</span></p><p><span style=\"font-size: 12pt\">- Pregnancy course and responsible parenthood;</span></p><p><span style=\"font-size: 12pt\">- Partnership with online course platforms;</span></p><p><span style=\"font-size: 12pt\">- Platform for language learning;</span></p><p><span style=\"font-size: 12pt\">- And many others.</span></p><p><span style=\"font-size: 12pt\">More details about it: </span><a style=\"font-size: 12pt\" href=\"https://ciandt.com/us/en-us/careers\">https://ciandt.com/us/en-us/careers</a></p><p><br></p><p><span style=\"font-size: 12pt\">CI&amp;T is an equal-opportunity employer. We celebrate and appreciate the diversity of our CI&amp;Tersâ identities and lived experiences. We are committed to building, promoting, and retaining a diverse, inclusive, and equitable company and culture focused on creating a better tomorrow.</span></p><p><br></p><p><span style=\"font-size: 12pt\">At CI&amp;T, we recognize that innovation and transformation only happen in diverse, inclusive, and safe work environments. Our teams are most impactful when people from all backgrounds and experiences collaborate to share, create, and hear ideas. </span></p><p><span style=\"font-size: 12pt\">Before applying for our opportunities take a look at </span><a style=\"font-size: 12pt\" href=\"https://s204.q4cdn.com/672609567/files/doc_downloads/governance/2024/04/conflict-of-interest-policy.pdf\">Conflict of Interest Policy</a><span style=\"font-size: 12pt\"> on website.</span></p><p><br></p><p><span style=\"font-size: 12pt\">We strongly encourage candidates from diverse and underrepresented communities to apply for our vacancies.</span></p><br/><br/>Please mention the word **INDIVIDUALIZED** and tag RMzguNjguMTM0LjE5NA== when applying to show you read the job post completely (#RMzguNjguMTM0LjE5NA==). This is a beta feature to avoid spam applicants. Companies can search these words to find applicants that read this and see they're human.",
            "location": "Campinas, SP",
            "salary_min": 55000,
            "salary_max": 100000,
            "apply_url": "https://remoteOK.com/remote-jobs/remote-job-19004-junior-quality-assurance-engineer-brazil-ciampt-1059247",
            "url": "https://remoteOK.com/remote-jobs/remote-job-19004-junior-quality-assurance-engineer-brazil-ciampt-1059247"
          },
          {
            "slug": "remote-software-engineer-jump-1059244",
            "id": "1059244",
            "epoch": 1733258955,
            "date": "2024-12-03T20:49:15+00:00",
            "company": "Jump",
            "company_logo": "https://remoteOK.com/assets/img/jobs/9f3cdc8fe4fa0f46242ce19d240845d51733258955.png",
            "position": "Software Engineer",
            "tags": [
              "dev",
              "kubernetes",
              "terraform",
              "Elixir"
            ],
            "logo": "https://remoteOK.com/assets/img/jobs/9f3cdc8fe4fa0f46242ce19d240845d51733258955.png",
            "description": "<p><a href=\"https://jumpapp.com\">Jump</a> is AI for wealth managers. We're growing crazy fast and doing all the fun AI stuff. We've got an awesome team and would love to work with you.</p><ul><li>All Elixir/Phoenix/LiveView with relatively few dependencies</li><li>About 30 integrations with a consistent client interface, all based on Tesla (Finch adapter)</li><li>Consistent patterns across the codebase</li><li>The latest LiveView and LiveView features</li><li>Tailwind for styling, default esbuild for js</li><li>Distributed elixir with libcluster (k8s adapter)</li><li>Liveview tests, wallaby for e2e tests when js is involved</li><li>A super powerful and interconnected admin interface so itâs very easy to debug problems and collaborate</li><li>Great logging and observability with GCP logging, appsignal, Prometheus, graffana, etc</li><li>Github (rebase merge and squash)</li><li>One review is required to merge</li><li>The author has complete responsibility and authority of their code. No gatekeeping. Requires being a good citizen</li><li>We move extremely fast. Many bug fixes and small features every day. A big feature typically started and shipped in a few days.</li><li>Automatic staging environments for every PR</li><li>Seeking founder-minded devs who are self-driven and want to come in, understand the business and customers and take initiative to do the right things</li><li>Hammox for testing. Only a few mocks for the very boundaries of the app (MockHTTP, MockTime, etc)</li><li>We do a ton of cutting-edge stuff with LLMs (OpenAI and Anthropic) and have a robust framework for routing prompts to different models and testing new prompts/models. We use prompt caching, JSON mode, function calling, assistants, etc</li><li>Host our own embeddings with pgvector</li><li>We do some Rust/Rustler stuff, C/NIF stuff</li><li>We use the adapter pattern a lot. Itâs really easy to add new integrations.</li><li>Absinthe for GraphQL (for mobile apps)</li><li>All infrastructure is in terraform. Everything. Github, cloudflare, etc. If thereâs a provider we use it.</li><li>Weâre hosted on GCP, k8s on GKE, all configured in Terraform. No YML.</li><li>Postgres 15 on Cloud SQL. One read replica but we can add more easily.</li><li>SOC 2 with Vanta</li><li>Weâre 4 full-time US devs and 3 non-us contractors right now</li><li>Weâre growing gangbusters. Like insane. All revenue-backed, super low churn.</li><li>Raised a $4.6M seed a few months ago</li><li>Health insurance</li><li>401k (no match right now)</li><li>Take the time you need PTO (4 weeks-ish, but we donât keep track)<br /></li><li>Based in SLC, Utah</li><li>Fully remote OK. Weâd like it if youâd fly in occasionally to get to know you.</li></ul><br/><br/>Please mention the word **BENEFITS** and tag RMzguNjguMTM0LjE5NA== when applying to show you read the job post completely (#RMzguNjguMTM0LjE5NA==). This is a beta feature to avoid spam applicants. Companies can search these words to find applicants that read this and see they're human.",
            "location": "",
            "salary_min": 180000,
            "salary_max": 220000,
            "apply_url": "https://applicantai.com/jump/software-engineer/3439?ref=remoteok#apply",
            "original": true,
            "url": "https://applicantai.com/jump/software-engineer/3439?ref=remoteok#apply"
          },
          {
            "slug": "remote-account-manager-b2b-sales-1840-amp-company-1059237",
            "id": "1059237",
            "epoch": 1733256011,
            "date": "2024-12-03T20:00:11+00:00",
            "company": "1840 &amp; Company",
            "company_logo": "https://remoteok.com/assets/img/jobs/9bf73a7f976dbcce0490fd5c2408f5d81733256011.png",
            "position": "Account Manager B2B Sales",
            "tags": [
              "manager",
              "training",
              "support",
              "growth",
              "code",
              "microsoft",
              "leader",
              "management",
              "sales"
            ],
            "logo": "https://remoteok.com/assets/img/jobs/9bf73a7f976dbcce0490fd5c2408f5d81733256011.png",
            "description": "<p><span style=\"font-size: 16px;\">We are seeking remote&nbsp;</span><b style=\"font-size: 16px;\">Account Manager B2B Sales</b><span style=\"font-size: 16px;\"> in </span><b style=\"font-size: 16px;\">South Africa.</b></p><p><br></p><p><span style=\"font-size: 16px;\">The client is a leader in the wholesale distribution of romance products and is looking for a talented Account Manager in B2B Sales&nbsp;The ideal candidate will be well organized with excellent communication skills and able to complete tasks in a proficient manner. We are looking for an enthusiastic self-starter to work in a fast-paced environment. They also must have a customer-focused attitude and have a proven track record of successful interactions within a dynamic team environment.</span></p><p><br></p><p><span style=\"font-size: 16px;\">Shift: US Shift</span></p><p><span style=\"font-size: 16px;\">Schedule: Graveyard</span></p><p><br></p><p><br></p>\\n<p></p><p><br></p><b>Key Responsibilities:</b><ul><li>Cold calling to proactively pursue new prospects to grow the customer base.</li><li>Meet and exceed monthly sales performance goals by servicing existing accounts, obtaining orders, upselling, and establishing new accounts.</li><li>Focus sales efforts by using reports to analyze existing and potential sales understanding opportunities.</li><li>Meet all sales objectives and handle all aspects of completing a sale including paperwork.&nbsp;</li><li>Continually manage daily, weekly, and monthly sales forecasts and prospects using company software, and produce weekly reports.&nbsp;</li><li>Resolve customersâ complaints by investigating problems, developing solutions, and making recommendations.&nbsp;</li><li>Managing and understanding each customerâs needs to build strong long-term relationships.&nbsp;</li><li>Maintain long-term relationships with customers.&nbsp;</li><li>Consistent communication with long-term customers.&nbsp;</li><li>Develop and maintain positive relationships with support departments (warehouse, customer service, and accounting).&nbsp;</li><li>Coordinating in-store sales training with vendors and customers.&nbsp;</li><li>Attend vendor training to increase product knowledge.&nbsp;</li><li>Deliver ongoing exceptional customer service with your accounts.&nbsp;</li></ul><p><br></p><b>Requirements:</b><ul><li>Excellent written, verbal, and interpersonal communication skills in English (C1 Level).</li><li>Ability to communicate and hold a conversation with decision-makers.</li><li>Require a 3 hour backup power supply.</li><li>Minimum 2- 3 years of sales, account management, and customer service experience preferably from a wholesale distribution, retail, and/or manufacturing background (with over 1000 sku's).</li><li>Experience with Business-to-Business sales; Retail sales experience is plus.</li><li>Capacity to sell wholesale physical products.</li><li>Proven track record of cold calling to acquire new business.</li><li>Need to have strong customer service skills and the ability to create and maintain long-term relationships with clients.</li><li>Extremely well organized and detail-oriented with excellent time management in a fast-paced work environment.</li><li>Ability to develop in-depth knowledge about products and markets.</li><li>Proficient in Microsoft Office.</li></ul><p><br></p><b>Must have a laptop/desktop which meets the minimum qualifications:</b><ul><li>Must have Dual Monitors (2 Monitors)</li></ul><div><b>Processor:</b></div><ul><li>Core i5 or higher</li><li>RAM - 8GB or higher</li></ul><div><b>Bandwidth Requirements Minimum:</b></div><ul><li>Download Speed: at least 6 Mbps&nbsp;</li><li>Upload Speed: at least 6 Mbps</li></ul><div><b>A&nbsp;quiet, private place&nbsp;in your home where you can work without background&nbsp;</b></div><p><br></p><b>Benefits:</b><ul><li>Work from home</li><li>Access to diverse projects</li><li>Opportunities for professional growth</li><li>Collaboration with diverse teams</li><li>No commute time</li><li>No dress code (unless thereâs a meeting!)</li><li>Eco-friendly work lifestyle</li><li>Exposure to a multicultural team</li><li>Potential for long-term engagement</li><li>Improved work-life balance</li></ul><p><br></p><p></p>\\n<div>$9 - $11 an hour</div>\\n<p><b style=\"font-size: 16px;\">About 1840 &amp; Company</b></p><p><br></p><p><span style=\"font-size: 16px;\">1840 &amp; Company is a global leader in Business Process Outsourcing (BPO) and remote talent solutions, dedicated to propelling businesses forward through our comprehensive suite of services. We specialize in connecting companies with world-class freelance professionals and delivering top-tier outsourcing services, across over 150 countries worldwide.</span></p><p><br></p><p><span style=\"font-size: 16px;\">Our mission is to empower growth for forward-thinking businesses, seamlessly bridging any skill or resource gaps with our expertly vetted talent pool. We firmly believe in fostering an environment where exceptional individuals can achieve an optimal work-life balance, working remotely from any location, while maximizing their professional growth and earning potential.</span></p><p><br></p><p><span style=\"font-size: 16px;\">We are headquartered in Overland Park, KS, USA with service delivery facilities in the Philippines, India, Ukraine, South Africa and Argentina. We invite you to explore the opportunities we offer and consider joining our exclusive network of global freelance talent. Visit&nbsp;</span><a rel=\"noopener noreferrer\" class=\"postings-link\" style=\"font-size: 16px;\" href=\"http://www.1840andco.com\">www.1840andco.com</a><span style=\"font-size: 16px;\">&nbsp;to learn more about us. To explore a wealth of career opportunities and find a role that suits your unique skills and aspirations, please visit our dedicated jobs portal at&nbsp;</span><a rel=\"noopener noreferrer\" class=\"postings-link\" style=\"font-size: 16px;\" href=\"http://jobs.1840andco.com\">jobs.1840andco.com</a>&nbsp;<span style=\"font-size: 15px;\">#LI-NS1</span></p><br/><br/>Please mention the word **SUFFICIENTLY** and tag RMzguNjguMTM0LjE5NA== when applying to show you read the job post completely (#RMzguNjguMTM0LjE5NA==). This is a beta feature to avoid spam applicants. Companies can search these words to find applicants that read this and see they're human.",
            "location": "Johannesburg, Gauteng",
            "salary_min": 50000,
            "salary_max": 90000,
            "apply_url": "https://remoteOK.com/remote-jobs/remote-account-manager-b2b-sales-1840-amp-company-1059237",
            "url": "https://remoteOK.com/remote-jobs/remote-account-manager-b2b-sales-1840-amp-company-1059237"
          },
          {
            "slug": "remote-principal-netsuite-consultant-beyond-cloud-consulting-inc-1059236",
            "id": "1059236",
            "epoch": 1733256002,
            "date": "2024-12-03T20:00:02+00:00",
            "company": "Beyond Cloud Consulting Inc.",
            "company_logo": "https://remoteok.com/assets/img/jobs/dcace99f4b5fe809e37bdb21084bc7321733256004.png",
            "position": "Principal NetSuite Consultant",
            "tags": [
              "consultant",
              "consulting",
              "design",
              "support",
              "growth",
              "voice",
              "education",
              "cloud",
              "leader",
              "strategy",
              "management",
              "lead",
              "senior",
              "junior",
              "recruitment",
              "digital nomad"
            ],
            "logo": "https://remoteok.com/assets/img/jobs/dcace99f4b5fe809e37bdb21084bc7321733256004.png",
            "description": "<p><b style=\"font-size: 18px;\">Beyond Cloud is an Award-Winning Alliance Partner with Oracle NetSuite</b><span style=\"font-size: 18px;\"> focused on transforming business through implementation of NetSuite's ERP.&nbsp; We establish relationships with our clients through effectively managing their cloud strategy by creating a customized implementation plan that includes their vision and future goals of their systems architecture. </span></p><p><br></p><p><span style=\"font-size: 18px;\">Since our founding in 2019, Beyond Cloud Consulting has not just grownâweâve excelled. Our commitment to innovation and delivering top-tier solutions has propelled us to be recognized as a leader in the industry, earning us the prestigious \"Alliance Partner of the Year\" award twice. Our success story is further highlighted by numerous Spotlight Winner awards across various sectors, including: Wholesale Distribution, AI/Robotics (x3), Food and Beverage, Agriculture, Automotive, Sustainability (x2), Education &amp; Aerospace. At Beyond Cloud Consulting, we are driven by a relentless pursuit of excellence, and our achievements across diverse industries speak to the impact we make. Join us, and be part of a team thatâs shaping the future. </span></p><p><br></p><p><span style=\"font-size: 18px;\">You can also read what our clients say here: </span><a rel=\"noopener noreferrer\" class=\"postings-link\" style=\"font-size: 18px;\" href=\"https://beyondcloudconsulting.com/testimonials/\">https://beyondcloudconsulting.com/testimonials/</a></p><p>&nbsp;</p><p><br></p><p><b style=\"font-size: 18px;\">POSITION OVERVIEW</b></p><p>Principal NetSuite Consultants at Beyond Cloud Consulting take the lead in shaping the future of our NetSuite practice. As a recognized subject matter expert, you will drive innovation, provide strategic guidance, and deliver exceptional value to our clients. Leveraging your extensive experience and deep understanding of NetSuite, you will play a pivotal role in defining and implementing best practices, leading high-impact projects, and fostering a culture of excellence within our organization.</p><p><br></p><p><b>Please note, although this is a remote position you must be based in Canada for this role.</b></p><p><br></p><p><br></p><p><b style=\"font-size: 18px;\">YOUR IMPACT</b></p><p>As a Principal NetSuite Consultant, you'll drive transformative change for our clients and our organization. Your strategic leadership and innovative solutions will shape the future of our NetSuite practice, driving tangible business outcomes and fostering a culture of excellence. Youâll get to redefine what's possible in the world of NetSuite solutions and unlock new possibilities for our clients and our team.</p><p><br></p><p><br></p><p><br></p>\\n<p></p><p><br></p><b>Responsibilities</b><ul><li><b>Strategic Leadership:</b> Provide strategic direction and thought leadership in the development and execution of NetSuite initiatives. Collaborate with senior management to define the vision, goals, and roadmap for our NetSuite practice.</li><li><b>Client Engagement:</b> Serve as the primary point of contact and trusted advisor for key client accounts. Partner with clients to understand their business objectives, identify opportunities for optimization, and develop tailored NetSuite solutions that drive tangible results.</li><li><b>Solution Architecture:</b> Lead the design and implementation of complex NetSuite solutions, ensuring alignment with industry best practices, scalability, and sustainability. Provide guidance on customization, integration, and optimization strategies to maximize the value of the NetSuite platform.</li><li><b>Team Development:</b> Mentor and coach junior consultants, fostering their professional growth and expertise in NetSuite. Lead by example, sharing knowledge, insights, and best practices to elevate the capabilities of the team.</li><li><b>Innovation and Thought Leadership</b>: Stay abreast of the latest trends, developments, and innovations in the NetSuite ecosystem. Drive continuous improvement initiatives, develop new methodologies, and contribute to the advancement of our NetSuite practice.</li><li><b>Client Relationship Management: </b>Cultivate strong, long-lasting relationships with clients, acting as a trusted advisor and advocate for their success. Collaborate with cross-functional teams to deliver exceptional service and exceed client expectations.</li></ul><div><br></div><p><br></p><b>Qualifications</b><ul><li>Bachelor's degree in Computer Science, Information Systems, or related field. Advanced degree or relevant certifications preferred.</li><li>4+ years of hands-on experience in NetSuite implementation, customization, and optimization.</li><li>Demonstrated expertise in solution architecture, with a deep understanding of NetSuite modules, features, and capabilities.</li><li>Proven track record of successfully leading large-scale NetSuite projects from inception to completion, delivering measurable business value.</li><li>Exceptional communication, presentation, and stakeholder management skills, with the ability to influence and inspire confidence at all levels of an organization.</li><li>Strong leadership abilities, with a passion for mentoring and developing talent.</li><li>Strategic thinker with a results-oriented mindset, capable of driving innovation and driving continuous improvement.</li></ul><div><br></div><div><br></div><div><br></div><p><br></p><b>Why work at Beyond Cloud Consulting</b><ul><li>We are proud to be recognized as the<b> Canadian Partner of the Year for three consecutive years, </b>reflecting our consistent excellence and growth. As we continue to expand rapidly, youâll have the unique opportunity to be at the forefront of our success and experience it firsthand.</li><li><b>Elevate your expertise</b> with professional development and growth opportunities, including access to training, certifications, and networking events.</li><li><b>Embrace work-life balance </b>with our remote-friendly culture, freeing you from the constraints of traditional office life.</li><li>We <b>collaborate with some of the fastest-growing companies</b> on exciting, <b>high-impact projects</b>, and youâll have the chance to do the same. You'll enjoy the opportunity to learn from various industries and grow in your role, while receiving <b>strong support from our management team</b> to ensure your success.</li><li><b>Competitive compensation</b> package, including a comprehensive benefits package and performance-based incentives.</li><li>Join a<b> diverse and inclusive workplace</b> where your talents are celebrated, and opportunities for advancement abound.</li><li><b>A Culture of Openness and Transparency: </b>We prioritize clear communication and honesty, fostering an environment where every voice is heard and valued.</li><li><b>Team Building in a Virtual World: </b>We enhance our virtual work experience with in-person events and team lunches, ensuring strong bonds and a sense of community, even from afar.</li><li>Join a <b>team of passionate and ambitious individuals</b> who are dedicated to pushing boundaries and achieving excellence together.</li><li>If you're driven by innovation, fueled by technology, and ready to chart a course for success, come join us at Beyond Cloud Consulting. Let's shape the future together.</li></ul><div><br></div><div>Beyond Cloud Consulting is an Equal Opportunity Employer and actively promotes Diversity and Inclusion. We encourage all those who are interested to apply to be considered for a rewarding career with us.</div><div>If you require accommodation as part of the recruitment and selection process, please reach out toâ¯hr@beyondcloudconsulting.com.â¯Please note, we do not accept unsolicited headhunter or agency resumes.</div><p><br></p><p></p>\\n<br/><br/>Please mention the word **HAPPILY** and tag RMzguNjguMTM0LjE5NA== when applying to show you read the job post completely (#RMzguNjguMTM0LjE5NA==). This is a beta feature to avoid spam applicants. Companies can search these words to find applicants that read this and see they're human.",
            "location": "Toronto",
            "salary_min": 40000,
            "salary_max": 82500,
            "apply_url": "https://remoteOK.com/remote-jobs/remote-principal-netsuite-consultant-beyond-cloud-consulting-inc-1059236",
            "url": "https://remoteOK.com/remote-jobs/remote-principal-netsuite-consultant-beyond-cloud-consulting-inc-1059236"
          },
          {
            "slug": "remote-customer-success-manager-spaceback-1059198",
            "id": "1059198",
            "epoch": 1733238008,
            "date": "2024-12-03T15:00:08+00:00",
            "company": "Spaceback",
            "company_logo": "https://remoteok.com/assets/img/jobs/30081d3ba2c022b4be4cd0db1006e6a41733238009.png",
            "position": "Customer Success Manager",
            "tags": [
              "manager",
              "teach",
              "training",
              "support",
              "leader",
              "sales",
              "non tech"
            ],
            "logo": "https://remoteok.com/assets/img/jobs/30081d3ba2c022b4be4cd0db1006e6a41733238009.png",
            "description": "<p><b style=\"font-size: 16px;\">ABOUT US</b></p><p><span style=\"font-size: 16px;\">Spaceback is the global leader and creator of Social Display and SocialCTV.</span></p><p><br></p><p><span style=\"font-size: 16px;\">The Spaceback Social Display creative format bridges the gap between social media and the broader digital world. Spacebackâs platform allows advertisers to combine the user experience of social with the reach and efficiency of programmatic display, OLV, and CTV channels.</span></p><p><br></p><p><b style=\"font-size: 16px;\">ABOUT THE ROLE</b></p><p><span style=\"font-size: 16px;\">A Customer Success Manager is the primary point of contact for strategic and growing customer accounts, with an enthusiastic aim of driving revenue and adoption of Spacebackâs platform. Your involvement will span all touchpoints of the client lifecycle including: platform training &amp; onboarding, strategic campaign planning, creative build support, troubleshooting, and campaign monitoring &amp; reporting.&nbsp;</span></p><p><br></p><p><span style=\"font-size: 16px;\">As you learn to master our product offering, you will be encouraged to help shape its future by providing product feedback and enhancement requests to help your clients better reach their goals.</span></p><p><br></p><p><span style=\"font-size: 16px;\">A typical day may include:</span></p><p><span style=\"font-size: 16px;\">â¢&nbsp;Promptly responding to inbound client inquiries via email and Slack</span></p><p><span style=\"font-size: 16px;\">â¢&nbsp;Reviewing creatives and sharing recommendations and best practices to help educate customers</span></p><p><span style=\"font-size: 16px;\">â¢&nbsp;Providing sales support to help close new business opportunities</span></p><p><span style=\"font-size: 16px;\">â¢&nbsp;Monitoring creative performance and proactively alerting clients to optimization possibilities</span></p><p><span style=\"font-size: 16px;\">â¢&nbsp;Compiling and analyzing creative performance reports to share with clients during and upon the conclusion of a campaign</span></p><p><span style=\"font-size: 16px;\">â¢&nbsp;Leading platform demonstrations and training sessions for new customers</span></p><p><span style=\"font-size: 16px;\">â¢&nbsp;Collaborating with cross-functional teams as a customer advocate to integrate client feedback &amp; experience metrics into decisions on products to improve client usability and satisfaction</span></p><p><span style=\"font-size: 16px;\">â¢&nbsp;Challenging yourself to maintain a strong understanding of the digital media landscape and the latest Spaceback product offerings</span></p><p><br></p><p><b style=\"font-size: 16px;\">ABOUT YOU</b></p><p><span style=\"font-size: 16px;\">â¢&nbsp;1-2 years of experience in digital media planning and buying, with programmatic and social media being a plus</span></p><p><span style=\"font-size: 16px;\">â¢&nbsp;Excellent communicator, both written and verbally presenting</span></p><p><span style=\"font-size: 16px;\">â¢&nbsp;Excited about the opportunity to develop relationships with clients all around the world</span></p><p><span style=\"font-size: 16px;\">â¢&nbsp;Willing to teach what you know and eager to learn what you donât</span></p><p><span style=\"font-size: 16px;\">â¢&nbsp;Strategic thinking with proactive client service skills</span></p><p><span style=\"font-size: 16px;\">â¢&nbsp;Enjoys the thrill and unique opportunities/challenges of helping to grow a fast-paced startup</span></p><p><span style=\"font-size: 16px;\">â¢&nbsp;Self-motivated to do your best even if no one is watching</span></p><p><span style=\"font-size: 16px;\">â¢&nbsp;Always looking for opportunities to improve, both yourself and the product</span></p><p><span style=\"font-size: 16px;\">â¢&nbsp;Thrive in the face of obstacles and uncertainty</span></p><p><span style=\"font-size: 16px;\">â¢&nbsp;Values autonomy and embraces the responsibility associated with it</span></p><p><br></p><p><b style=\"font-size: 16px;\">EXTRA CREDIT</b></p><p><span style=\"font-size: 16px;\">â¢&nbsp;Familiarity with the ad tech landscape</span></p><p><span style=\"font-size: 16px;\">â¢&nbsp;Experience working with a DSP (demand side platform), Social Media Advertising, and Google Campaign Manager</span></p><p><span style=\"font-size: 16px;\">â¢&nbsp;Google Enterprise Suite</span></p><p><span style=\"font-size: 16px;\">â¢&nbsp;Data analysis tools - pivot tables make you smile</span></p><p><br></p><p><span style=\"font-size: 16px;\">Lastly, we have an amazing company culture and we spend a lot of time thinking about how to make it even better.&nbsp; You will be an integral part of helping this culture scale.&nbsp;</span></p><p><br></p><p><span style=\"font-size: 16px;\">Compensation range: $65,000 - $75,000 annually</span></p><p><br></p><p><span style=\"font-size: 16px;\">Remote to US candidates only with existing work authorization.</span></p><p><br></p><p><br></p><p><span style=\"font-size: 16px;\"><i>Donât meet every single requirement? Studies have shown that women and people of color are less likely to apply to jobs unless they meet every single qualification. At Spaceback, we are dedicated to building a diverse, inclusive, and authentic workplace, so if youâre excited about this position but your past experience doesnât align perfectly with every qualification in the job description, we encourage you to apply anyways. You may be just the right candidate for this or other opportunities.</i></span></p><p><br></p><p><span style=\"font-size: 16px;\">More information about Spaceback can be found by visiting </span><a style=\"font-size: 16px;\" href=\"https://www.spaceback.com/\">www.spaceback.com</a><span style=\"font-size: 16px;\"> including the following social media channels: </span><a style=\"font-size: 16px;\" href=\"https://www.linkedin.com/company/spaceback/\">LinkedIn</a><span style=\"font-size: 16px;\">, </span><a style=\"font-size: 16px;\" href=\"https://www.facebook.com/takespaceback\">Facebook</a><span style=\"font-size: 16px;\">, and </span><a style=\"font-size: 16px;\" href=\"https://twitter.com/Spaceback\">Twitter</a><span style=\"font-size: 16px;\">.</span></p>\\n<p></p><p><br></p><p></p>\\n<br/><br/>Please mention the word **HAPPINESS** and tag RMzguNjguMTM0LjE5NA== when applying to show you read the job post completely (#RMzguNjguMTM0LjE5NA==). This is a beta feature to avoid spam applicants. Companies can search these words to find applicants that read this and see they're human.",
            "location": "Remote",
            "salary_min": 40000,
            "salary_max": 80000,
            "apply_url": "https://remoteOK.com/remote-jobs/remote-customer-success-manager-spaceback-1059198",
            "url": "https://remoteOK.com/remote-jobs/remote-customer-success-manager-spaceback-1059198"
          },
          {
            "slug": "remote-senior-technical-product-support-engineer-reflexion-medical-1059136",
            "id": "1059136",
            "epoch": 1733209203,
            "date": "2024-12-03T07:00:03+00:00",
            "company": "RefleXion Medical",
            "company_logo": "https://remoteok.com/assets/img/jobs/ebde21db47ec63b5bd490b073b16394f1733209204.png",
            "position": "Senior Technical Product Support Engineer",
            "tags": [
              "salesforce",
              "system",
              "training",
              "technical",
              "support",
              "software",
              "travel",
              "financial",
              "leader",
              "management",
              "senior",
              "analytics",
              "healthcare",
              "engineer",
              "engineering",
              "executive"
            ],
            "logo": "https://remoteok.com/assets/img/jobs/ebde21db47ec63b5bd490b073b16394f1733209204.png",
            "description": "<p><strong>Who We Are </strong></p>\n<p>RefleXion elevates radiopharmaceuticals from drugs that help identify cancer to guides that actively direct external beam radiotherapy by leveraging tumor biology. Designated an FDA Breakthrough Device for lung tumors, RefleXion's SCINTIXÂ® biology-guided radiotherapy aims to overcome long-standing barriers preventing definitive radiotherapy for metastatic disease. FDA-cleared SCINTIX therapy automates targeting and motion management for use in FDG-guided treatment of lung and bone tumors that arise from primary lung and bone cancers or are metastases from other primary cancers. In strategic collaborations with industry-leading radiopharmaceutical companies, RefleXion is co-developing and co-commercializing disease-specific radiotracers for treating late-stage cancers.</p>\n<p>Find out more about RefleXion and SCINTIX therapy at&nbsp;<a href=\"http://reflexion.com/\"><strong>reflexion.com</strong></a>.</p>\n<p>Stay up to date with RefleXion by following our channels here:</p>\n<p><a href=\"https://www.linkedin.com/company/reflexion-medical/\"><strong>LinkedIn</strong></a>,&nbsp;<a href=\"https://twitter.com/reflexionmed\"><strong>X (formerly Twitter),</strong></a> <a href=\"https://www.instagram.com/reflexionbgrt/\"><strong>Instagram</strong></a>, <a href=\"https://www.facebook.com/reflexionmedical/\"><strong>Facebook</strong></a>,&nbsp;<a href=\"https://www.youtube.com/c/reflexionmedical\">and <strong>YouTube</strong></a>.</p>\n<p><strong>About This Role&nbsp;</strong></p>\n<p>The Senior Technical / Product Support Engineer will provide first-level response to customers and Field Service Engineers (FSEs) in support of the clinical use of RefleXionâs revolutionary medical equipment. The Senior Technical / Product&nbsp;Support Engineer will utilize technical knowledge about the hardware and software applications to effectively troubleshoot and resolve issues or escalate and dispatch to the appropriate resources. As the front-line response to customers, the Senior Technical / Product Support Engineer has the highest level of professional representation and commitment to customer success.</p>\n<p><strong>What You Will Be Doing </strong></p>\n<ul>\n<li>Provide direct customer support for RefleXionâs custom system hardware and software used in a clinical treatment setting</li>\n<li>Provide exceptional response to customer issues by ensuring prompt resolution or follow-up actions immediately from the initial customer phone call</li>\n<li>Utilize diagnostic tools and knowledge management system to troubleshoot and resolve reported hardware and software issues</li>\n<li>Understand and perform log analysis to troubleshoot and determine root cause</li>\n<li>Ask customers targeted questions to quickly understand the root of the problem and talk them through a series of actions until theyâve solved the issue</li>\n<li>Follow standard procedures for escalating to next-level support or dispatching Field Service resources as appropriate</li>\n<li>Provide remote support to Field Service Engineers during installations, maintenance or repair activities</li>\n<li>Provide support for in-house training systems</li>\n<li>Ensure all service calls and activities are documented and transacted appropriately in RefleXionâs customer relationship management (CRM) application (Salesforce)</li>\n<li>Monitor the installed base system performance and direct proactive service as required to prevent system downtime</li>\n<li>Contribute to the development and continuous improvement of effective and efficient support service activities</li>\n<li>Provide feedback to Engineering for service-related product improvements</li>\n<li>Travel to customer sites to assist local FSEs for complex issue escalations/resolution</li>\n<li>Work with Engineering to adapt relevant manufacturing rework instructions for use in the field (write Technical Service Bulletins)</li>\n<li>Develop and deliver training materials and programs for other TSEs and FSEs</li>\n<li>Document experiences for use in RefleXionâs Knowledgebase system</li>\n<li>Act as a leader within the Tech Support and Field Service organization. Good influence on new TS and FS team members and act as a mentor when needed</li>\n<li>Other duties as assigned</li>\n</ul>\n<p><strong>Where You Will Do This Job&nbsp;&nbsp;</strong></p>\n<ul>\n<li>Remote - This position will allow the successful candidate to work a primarily remote schedule. They must be based in the Eastern US and and will be required to travel to RefleXion customers and come into the RefleXion office in Hayward, CA for training, meetings and other events as needed.</li>\n</ul>\n<p><strong>What We Need </strong></p>\n<ul>\n<li>Bachelors of Science (BS) in biomedical, electrical, mechanical engineering or closely related discipline or commensurate direct technical support experience</li>\n<li>8 years of technical support or field service experience with complex equipment</li>\n<li>3 years of technical support engineer experience with medical device</li>\n<li>Deep understanding of healthcare IT infrastructure, including networking, connectivity, and compliance with industry standards such as HIPAA</li>\n<li>Ability to travel up to 33% to support customers in the field as needed; more travel within first year to Corporate offices in Hayward, CA for training&nbsp;</li>\n<li>Willing and able to be available by cell phone evenings and weekends if needed</li>\n<li>Experience with reading and interpreting complex schematics for use in troubleshooting</li>\n<li>Outstanding communication skills (verbal and written)</li>\n<li>Excellent customer support skills</li>\n<li>Proven ability to diagnose and resolve technical problems (both hardware and software) on complex electro-mechanical devices that use highly sophisticated software</li>\n<li>Experience with use of data analytics for predictive maintenance and error detection, and the use of system log files for diagnosis and performance analysis</li>\n<li>Ability to learn new software tools quickly</li>\n<li>Ability to analyze log files for diagnosing system issues</li>\n<li>Experience with CRM platforms required</li>\n<li>High level of attention to detail and accuracy</li>\n<li>Critical thinking skills and proactive problem-solver</li>\n<li>Skilled at building strong relationships with customers through effective communication, professionalism, and resolution of issues</li>\n</ul>\n<p><strong>Ways To Stand Out&nbsp;</strong></p>\n<ul>\n<li>Technical support or field service experience with medical LINACs or diagnostic equipment (CT or MRI scanners) preferred</li>\n<li>Experience in a compliance-oriented and highly regulated environment; FDA Quality System Regulation (QSR) preferred</li>\n<li>Experience with Salesforce Field Service Lightning (CRM) desirable</li>\n</ul>\n<p><strong>What You Will Love About Working with Us</strong>!</p>\n<ul>\n<li>The opportunity to work with a passionate, driven team in a pre-IPO start-up environment</li>\n<li>Flexible work location and schedule available for many positions - see above for specific work location for this position</li>\n<li>Competitive compensation and PreâIPO stock option packages</li>\n<li>Medical (both HMO and PPO options), Dental and Vision</li>\n<li>Health Savings Account (HSA), Flexible Spending Account (FSA), Dependent Care Flexible Spending Account (DCFSA)</li>\n<li>Pre-tax Commuter Benefits</li>\n<li>Employee Assistance Program (EAP)</li>\n<li>401(k)</li>\n<li>3 Weeks/Year PTO Accrual rate to start and 12 Paid Company Holidays</li>\n<li>Employer paid Life Insurance, short-term and long-term disability</li>\n<li>RefleXion Benefit Hub âCompany exclusive discounts and deals on a variety of sites and items</li>\n<li>Weekly catered on-site lunches as well as kitchens filled with a variety of healthy and delicious food and drinks â including an espresso machine and panini stations!</li>\n<li>Employee Events â Variety of Workshops, Lunch ân Learns, Financial Wellness education, Regular âCoffee Chatsâ with Executive Leadership, Scavenger Hunts, Company Milestone celebrations and more!</li>\n<li>Electric car charging stations on site</li>\n</ul>\n<p>The pay range for this role is $100,000 - $150,000 annually.<strong><em>&nbsp; </em></strong><em>A</em>ctual compensation packages are based on several factors that are unique to each candidate, including but not limited to skill set, depth of experience, certifications, and specific work location. This may be different in other locations due to differences in the cost of labor. The total compensation package for this position may also include bonus, stock, benefits and/or other applicable variable compensation.</p>\n<p><strong>Values and Diversity&nbsp;</strong></p>\n<p>RefleXion is an equal opportunity employer. All aspects of employment including the decision to hire will be based on merit, competence, performance, and business needs. We do not discriminate based on race, color, religion, marital status, age, national origin, ancestry, disability/medicalâââ condition, pregnancy, genetic information, gender, sexual orientation, gender identity or âexpression, veteran status, or any other status protected under federal, state, or local law.</p><br/><br/>Please mention the word **CHERISHED** and tag RMzguNjguMTM0LjE5NA== when applying to show you read the job post completely (#RMzguNjguMTM0LjE5NA==). This is a beta feature to avoid spam applicants. Companies can search these words to find applicants that read this and see they're human.",
            "location": "Philadelphia, Pennsylvania, United States",
            "salary_min": 55000,
            "salary_max": 100000,
            "apply_url": "https://remoteOK.com/remote-jobs/remote-senior-technical-product-support-engineer-reflexion-medical-1059136",
            "url": "https://remoteOK.com/remote-jobs/remote-senior-technical-product-support-engineer-reflexion-medical-1059136"
          },
          {
            "slug": "remote-senior-product-engineer-predictionhealth-1059082",
            "id": "1059082",
            "epoch": 1733184902,
            "date": "2024-12-03T00:15:02+00:00",
            "company": "PredictionHealth",
            "company_logo": "",
            "position": "Senior Product Engineer",
            "tags": [
              "golang",
              "senior",
              "engineer"
            ],
            "description": "Remote - Full time, US-based, Eastern or Central timezone preferredWe are a funded, mission-driven startup using AI to improve the quality of medical care. Our team consists of friendly, collaborative, and positive people working remotely. This position will report directly t...<br/><br/>Please mention the word **TITILLATING** and tag RMzguNjguMTM0LjE5NA== when applying to show you read the job post completely (#RMzguNjguMTM0LjE5NA==). This is a beta feature to avoid spam applicants. Companies can search these words to find applicants that read this and see they're human.",
            "location": "",
            "salary_min": 70000,
            "salary_max": 110000,
            "apply_url": "https://remoteOK.com/remote-jobs/remote-senior-product-engineer-predictionhealth-1059082",
            "logo": "",
            "url": "https://remoteOK.com/remote-jobs/remote-senior-product-engineer-predictionhealth-1059082"
          },
          {
            "slug": "remote-full-stack-react-engineer-dock-1059078",
            "id": "1059078",
            "epoch": 1733183189,
            "date": "2024-12-02T23:46:29+00:00",
            "company": "Dock",
            "company_logo": "https://remoteOK.com/assets/img/jobs/827120654a91e8bf4122c633eb4d8a8b1733183189.png",
            "position": "Full Stack React Engineer",
            "tags": [
              "dev",
              "javascript",
              "react",
              "graphql"
            ],
            "logo": "https://remoteOK.com/assets/img/jobs/827120654a91e8bf4122c633eb4d8a8b1733183189.png",
            "description": "<p dir=\"ltr\"><strong>What Weâre Looking For</strong></p><p dir=\"ltr\">Weâre seeking a software engineer who loves building products and has experience shipping production-ready code. Youâre a full-stack engineer who can set up a database, build beautiful interactions and enjoy building complex things. Youâll get to work alongside the CTO (<a href=\"https://www.linkedin.com/in/victorkmita/\">Victor Kmita</a>) and tech lead (Arpit Dubey), who will help you navigate the technical complexities of what youâre building.</p><p dir=\"ltr\"><strong>Programming Languages</strong></p><p dir=\"ltr\">Weâre looking for software engineers who are proficient in the following technologies:</p><ul><li dir=\"ltr\"><p dir=\"ltr\">Typescript / React</p></li><li dir=\"ltr\"><p dir=\"ltr\">Node.js</p></li><li dir=\"ltr\"><p dir=\"ltr\">GraphQL</p></li></ul><p dir=\"ltr\"><strong>Requirements</strong></p><ul><li dir=\"ltr\"><p dir=\"ltr\">5+ years of experience developing React and Node.js applications</p></li><li dir=\"ltr\"><p dir=\"ltr\">Advanced level of Javascript</p></li><li dir=\"ltr\"><p dir=\"ltr\">A good sense of UX patterns</p></li><li dir=\"ltr\"><p dir=\"ltr\">Experience building and shipping production ready code</p></li></ul><p dir=\"ltr\"><strong>Location</strong></p><p dir=\"ltr\">India, Remote</p><p dir=\"ltr\"><strong>Relationship</strong></p><p dir=\"ltr\">We prefer contract-to-hire relationships so we can both get to know each other, but weâre also open to full-time employment for the right candidate.</p><p dir=\"ltr\"><strong>How we work</strong></p><ul><li dir=\"ltr\"><p dir=\"ltr\">Distributed teamwork wherever you want.</p></li><li dir=\"ltr\"><p dir=\"ltr\">Most of our customers are based in North America. Youâll be expected to be available during the time of 8am - 10am PT for meetings, conversations, etc.. Most of our hiring will be focused in the Americas and Europe time zones.</p></li><li dir=\"ltr\"><p dir=\"ltr\">Asynchronous communication is the default - Linear for issues, Slack for conversations, Figma for design, Email for formal/external messages, Zoom for video, Github for eng.</p></li><li dir=\"ltr\"><p dir=\"ltr\">We meet weekly to check-in, but mainly work independently throughout the week. Each team member is responsible for getting feedback on their projects from the broader group.</p></li><li dir=\"ltr\"><p dir=\"ltr\">Default to no meeting. We want free time for focused work. We have 2 internal meetings across the company every week.</p></li><li dir=\"ltr\"><p dir=\"ltr\">Weâre a hyper growth startup. This will not be the easiest job youâll ever have, but our goal is to make it the most rewarding. We hope you will learn a lot and make some money along the way.</p></li></ul><p><strong><br /></strong></p><p dir=\"ltr\"><strong>About Dock</strong></p><p dir=\"ltr\"><strong>What weâre building</strong></p><p dir=\"ltr\">Dock is a collaborative workspace for prospects and customers. With Dock, companies manage the entire customer journey from sales to success. Dock workspaces combine project plans and embedded multimedia content in a single workspace for customers. Sales teams use Dock to share sales content, enable buyer champions and manage the sales process. Customer</p><p dir=\"ltr\">Success teams use Dock to onboard customers and manage ongoing relationships. Agencies and service firms use Dock to create client portals. Over time, weâre adding more features to help revenue teams collaborate with customers and each other.Â </p><p dir=\"ltr\">To learn more about Dock, we recommend reading and watching the following resources:</p><ul><li dir=\"ltr\"><p dir=\"ltr\"><a href=\"https://www.dock.us/library/seed-round\">Seed round blog post</a></p></li><li dir=\"ltr\"><p dir=\"ltr\"><a href=\"https://techcrunch.com/2022/05/04/dock-helps-sales-teams-build-share-and-recycle-sales-collateral-microsites/\">Techcrunch article</a></p></li><li dir=\"ltr\"><p dir=\"ltr\"><a href=\"https://www.forbes.com/sites/kevinkruse/2022/06/23/how-alex-kracov-built-dock-the-b2b-tool-that-keeps-decision-makers-from-drowning-in-information/?sh=3f4b58f8678b\">Forbes article</a></p></li><li dir=\"ltr\"><p dir=\"ltr\"><a href=\"https://www.youtube.com/watch?v=Cb6hDGPrUdg\">Video explainer</a></p></li></ul><p><strong><br /></strong></p><p dir=\"ltr\">Dock is committed to equal treatment and opportunity in all aspects of recruitment, selection, and employment without regard to gender, race, religion, national origin, ethnicity, disability, gender identity/expression, sexual orientation, veteran or military status, or any other category protected under the law. Dock is an equal opportunity employer; committed to a community of inclusion, and an environment free from discrimination, harassment, and retaliation.</p><p dir=\"ltr\">By clicking the \"Submit Application\" button below, you consent to Dock processing your personal information for the purpose of assessing your candidacy for this position.</p><p><br /></p><br/><br/>Please mention the word **PRODIGIOUS** and tag RMzguNjguMTM0LjE5NA== when applying to show you read the job post completely (#RMzguNjguMTM0LjE5NA==). This is a beta feature to avoid spam applicants. Companies can search these words to find applicants that read this and see they're human.",
            "location": "",
            "salary_min": 60000,
            "salary_max": 90000,
            "apply_url": "https://remoteOK.com/remote-jobs/remote-full-stack-react-engineer-dock-1059078",
            "original": true,
            "url": "https://remoteOK.com/remote-jobs/remote-full-stack-react-engineer-dock-1059078"
          },
          {
            "slug": "remote-solutions-architect-dgx-cloud-2100-nvidia-usa-1059034",
            "id": "1059034",
            "epoch": 1733162403,
            "date": "2024-12-02T18:00:03+00:00",
            "company": "2100 NVIDIA USA",
            "company_logo": "",
            "position": "Solutions Architect DGX Cloud",
            "tags": [
              "architect",
              "training",
              "technical",
              "software",
              "education",
              "cloud",
              "leader",
              "sales"
            ],
            "description": "Do you want to be part of the team that brings Artificial Intelligence (AI) emerging technology to the field? We are looking for hardworking Solution Architect (SA) to join the NVIDIA AI Enterprise (NVAIE) SA Segment Team. The mission of the NVAIE Segment team is to guide and enable the successful adoption at scale of DGX Cloud and NVIDIA AI Enterprise Software in production. NVIDIA DGX Cloud is an AI platform for enterprise developers, optimized for the demands of generative AI. The DGX Cloud SA team is dedicated to shaping the future of DGX Cloud by actively gathering and incorporating customer feedback and product requirements. Our team will help optimize the onboarding process for DGX Cloud customers, ensuring fast time to insights and exceptional experience. Additionally, we will collaborate with internal teams to scale expertise and knowledge through training and the creation of repeatable guides. Our focus on building demos, qualifications, and assets will streamline the pre-sales process, ultimately increasing sales and adoption of DGX Cloud. What youâll be doing: Work closely with DGX Cloud Customers, become their trusted technical advisor, advocate for their needs, and ensure they are successful in accomplishing their business goals with the platform. Accelerate customer onboarding and time to insights with DGX Cloud Scale knowledge, reach, and opportunities by building and educating vertical teams and communities on DGX Cloud. Provide technical education and facilitate field product feedback to improve DGX Cloud. Enable successful first-time integration and deployment of NVAIE Emerging SW products with DGX Cloud. What we need to see: Strong foundational expertise, from a BS, MS, or Ph.D. degree in Engineering, Mathematics, Physics, Computer Science, Data Science, or similar (or equivalent experience) 5+ years of proven experience with one or more Tier-1 Clouds (AWS, Azure, GCP or OCI) and cloud-native architectures and software. Proven experience in technical leadership, strong understanding of NVIDIA technologies, and success in working with customers. Expertise with parallel filesystems (e.g. Lustre, GPFS, BeeGFS, WekaIO) and high-speed interconnects (InfiniBand, Omni Path, and Gig-E). Strong coding and debugging skills, and demonstrated expertise in one or more of the following areas: Machine Learning, Deep Learning, Slurm, Kubernetes, MPI, MLOps, LLMOps, Ansible, Terraform, and other high-performance AI cluster solutions. Proficient in deploying GPU applications in Slurm and Kubernetes. Experience with high performance or large scale computing environments. Ways to stand out from the crowd: Hands-on experience with DGX Cloud, NVIDIA AI Enterprise AI Software, Base Command Manager, NEMO and NVIDIA Inference Microservices. Experience with integration and deployment of software products in production enterprise environments, and microservices software architecture. The base salary range is 148,000 USD - 230,000 USD. Your base salary will be determined based on your location, experience, and the pay of employees in similar positions. You will also be eligible for equity and benefits. NVIDIA accepts applications on an ongoing basis. NVIDIA is committed to fostering a diverse work environment and proud to be an equal opportunity employer. As we highly value diversity in our current and future employees, we do not discriminate (including in our hiring and promotion practices) on the basis of race, religion, color, national origin, gender, gender expression, sexual orientation, age, marital status, veteran status, disability status or any other characteristic protected by law. NVIDIA is the world leader in accelerated computing. NVIDIA pioneered accelerated computing to tackle challenges no one else can solve. Our work in AI and digital twins is transforming the world's largest industries and profoundly impacting society. Learn more about NVIDIA.<br/><br/>Please mention the word **SIGNIFICANT** and tag RMzguNjguMTM0LjE5NA== when applying to show you read the job post completely (#RMzguNjguMTM0LjE5NA==). This is a beta feature to avoid spam applicants. Companies can search these words to find applicants that read this and see they're human.",
            "location": "US, CA, Santa Clara",
            "salary_min": 40000,
            "salary_max": 90000,
            "apply_url": "https://remoteOK.com/remote-jobs/remote-solutions-architect-dgx-cloud-2100-nvidia-usa-1059034",
            "logo": "",
            "url": "https://remoteOK.com/remote-jobs/remote-solutions-architect-dgx-cloud-2100-nvidia-usa-1059034"
          },
          {
            "slug": "remote-protocol-engineer-nimbus-1059009",
            "id": "1059009",
            "epoch": 1733151603,
            "date": "2024-12-02T15:00:03+00:00",
            "company": "Nimbus",
            "company_logo": "https://remoteok.com/assets/img/jobs/cbcefd411d618082efd26fcf8e791fc01733151604.png",
            "position": "Protocol Engineer",
            "tags": [
              "ethereum",
              "embedded",
              "developer",
              "software",
              "web",
              "mobile",
              "senior",
              "engineer",
              "digital nomad"
            ],
            "logo": "https://remoteok.com/assets/img/jobs/cbcefd411d618082efd26fcf8e791fc01733151604.png",
            "description": "<div class=\"careers-block__trix external-panel text-left\">\n<div>\n<p><strong>The Role:</strong></p>\n<p>The Nimbus team is looking for a Senior Engineer who will take ownership of Developer Experience. Someone who enjoys researching new technologies and building products for the decentralized web while being amid Open Source Libraries and P2P networks. This means writing cool products in Nim for Ethereum and Web3, crafting documentation and SDKs, plus representing the team at developer conferences and online events.</p>\n<p><a href=\"https://nimbus.team/\" target=\"_blank\" data-saferedirecturl=\"https://www.google.com/url?q=https://nimbus.team/&amp;source=gmail&amp;ust=1732791881416000&amp;usg=AOvVaw1GDLpXQBDwE_B9KHLEGcch\">Nimbus</a>&nbsp;is a research team that focuses on developing an Ethereum client and library. We believe that the largest deployment of Ethereum will potentially be on embedded systems and Nimbus is designed to perform well on embedded, mobile and generally resource-restricted devices.</p>\n<p>Building the stack from the ground up, weâre translating the latest Ethereum research into practical, performant and reusable libraries to provide fertile exploration ground for further R&amp;D.&nbsp;<a href=\"https://our.status.im/nimbus-update-september-11th/\" target=\"_blank\" data-saferedirecturl=\"https://www.google.com/url?q=https://our.status.im/nimbus-update-september-11th/&amp;source=gmail&amp;ust=1732791881416000&amp;usg=AOvVaw1SYg4EvtLQqzJ9GXE9JL3q\">Check our latest update!&nbsp;</a></p>\n<p>&nbsp;</p>\n<h4><strong>Responsibilities</strong>:</h4>\n<ul>\n<li>Lead the effort to create a powerful developer experience around Nimbus, both as a library and as an RPC backend.</li>\n<li>Respond to community needs &amp; requests, transforming them into concrete specifications and products or features.</li>\n<li>Be the face of our developer community, represent Nimbus at conferences and online events.&nbsp;</li>\n<li>Create powerful documentation and SDKs.&nbsp;</li>\n<li>Support evangelizing Nimbus as the Ethereum consensus client for mobile devices and embedded systems within the Open Source community.&nbsp;</li>\n</ul>\n<p>&nbsp;</p>\n<p><strong>You will ideally have:</strong>&nbsp;</p>\n<p><em>[Donât worry if you donât meet all of these criteria, weâd still love to hear from you anyway if you think youâd be a great fit for this role!]</em></p>\n<ul>\n<li>Interest in open data, blockchain and decentralization.&nbsp;</li>\n<li>5+ years of professional experience in software engineering.</li>\n<li>Experience with Rust or C/C++, and curiosity about dynamic languages.</li>\n<li>Background in (embedded) systems programming, p2p technologies.&nbsp;</li>\n<li>Familiarity with modern cryptography.</li>\n<li>Experience with APIs, SDKs and crafting documentation.&nbsp;</li>\n</ul>\n<p>&nbsp;</p>\n<p><strong>Bonus points:</strong></p>\n<ul>\n<li>Experience working for an open-source organization.&nbsp;&nbsp;</li>\n<li>Ideally, youâll have some Nim/Rust/C++ related GitHub projects to make it easier for us to evaluate your skills.</li>\n<li>Basic knowledge of the lexing, parsing and semantic checking passes applicable to a compiler.</li>\n<li>Experience with Nim.</li>\n</ul>\n<h4>&nbsp;</h4>\n<h4>Hiring process:</h4>\n<ol>\n<li>Interview with our People Ops team.</li>\n<li>Technical Interview with team members from the Nimbus team.</li>\n<li>Technical Interview with the Nimbus Lead.</li>\n</ol>\n<p><em>[The steps may change along the way if we see it makes sense to adapt the interview stages, so please consider the above as a guideline. Weâre looking for you to join our team as soon as possible].&nbsp;</em></p>\n<p>&nbsp;</p>\n<p><strong>Compensation</strong>:</p>\n<p>We are happy to pay in either 100% fiat or any mix of fiat and/or crypto.&nbsp;</p>\n</div>\n</div><br/><br/>Please mention the word **RECOMMENDATION** and tag RMzguNjguMTM0LjE5NA== when applying to show you read the job post completely (#RMzguNjguMTM0LjE5NA==). This is a beta feature to avoid spam applicants. Companies can search these words to find applicants that read this and see they're human.",
            "location": "Bengaluru, Karnataka, India",
            "salary_min": 60000,
            "salary_max": 100000,
            "apply_url": "https://remoteOK.com/remote-jobs/remote-protocol-engineer-nimbus-1059009",
            "url": "https://remoteOK.com/remote-jobs/remote-protocol-engineer-nimbus-1059009"
          },
          {
            "slug": "remote-senior-consultant-sramped-humi-1059001",
            "id": "1059001",
            "epoch": 1733148001,
            "date": "2024-12-02T14:00:01+00:00",
            "company": "Humi",
            "company_logo": "https://remoteok.com/assets/img/jobs/db97cb51d2ba905462b1a039eefaefad1733148002.png",
            "position": "Senior Consultant SR&amp;ED",
            "tags": [
              "consultant",
              "training",
              "technical",
              "support",
              "growth",
              "investment",
              "senior",
              "engineering"
            ],
            "logo": "https://remoteok.com/assets/img/jobs/db97cb51d2ba905462b1a039eefaefad1733148002.png",
            "description": "<p><span style=\"font-size: 16px;\">In this role, by leveraging your engineering expertise, you will have an integral role in advancing our clients' innovative research ventures. Humi is on a mission to modernize and embrace technology in order to increase productivity within the SR&amp;ED team. Your mission will be to guide a diverse clientele in navigating their SR&amp;ED claims, and in the process, you'll evolve into a trusted counselor, offering insightful best practices while immersing yourself in the multifaceted industries represented by our client base.</span></p><p><br></p><p><span style=\"font-size: 16px;\">At Humi, we've merged the substantial resources of a prominent professional services establishment with the personalized and bespoke approach and a team-centric framework. This harmonious blend enables us to consistently deliver, all while ensuring an unparalleled client experience. We commit ourselves to continuous learning and a culture of adaptability based on each memberâs findings and experiences.&nbsp;</span></p><p><br></p><p><b style=\"font-size: 18px;\">Who are we?</b></p><p><br></p><p><span style=\"font-size: 16px;\">Humiâs mission is to help organizations throughout Canada foster their greatest asset â their employees. Starting with a powerful yet intuitive HR, payroll, benefits, and insurance platform, Humi has established a leadership position as the only company addressing all of these needs in one place. With a potential reach spanning every business in Canada, and a platform that touches every employee at every business that uses it, Humi is reimagining the future of work.</span></p><p><br></p><p><span style=\"font-size: 16px;\">Humi is backed by reputable investors including: Kensington Capital Partners, a firm with over 25 years of investment experience, TELUS Ventures who partners with disruptive, market-transforming companies, Tribe Capital, the same group who funded Slack and Carta. Y-Combinator, the top value-based U.S. accelerator, and several of the worldâs leading angel investors.</span></p><p><br></p><p><span style=\"font-size: 16px;\">Weâre hiring across Canada and are open to applicants who prefer to work remotely!</span></p><p><br></p><p><b style=\"font-size: 18px;\">What will you be doing as a Senior Consultant, Business &amp; Tax Incentive Solutions?</b></p><p><br></p><p><span style=\"font-size: 16px;\">In this role, you will assist our clients in identifying eligible SR&amp;ED activities and describe these activities in a technical report. We will provide you with specialized training on Canada's SR&amp;ED Tax Incentive Program which encourages businesses operating in Canada to develop new products or processes or improve existing ones in the field of science or technology. Incentives are provided through investment tax credits (ITC) delivered via the corporate income tax system.&nbsp;</span></p>\\n<p></p><p><br></p><b>Some of your day-to-day activities will include: </b><ul><li>Writing technological descriptions of various different innovative projects related to SR&amp;ED or other types of innovation funding.</li><li>Assisting Humi clients or other colleagues in the active identification, gathering and analysis of relevant information. You will also collect relevant documentation in support of the information you are collecting.</li><li>Researching and reviewing pertinent publications and documents within specific industries.</li><li>Assisting clients in the preparation of the responses to inquiries from government officials.</li><li>Assisting clients in the development and maintenance of a documentation system.</li><li>Working with our team to develop and improve processes for the delivery of our services.</li><li>Planning, organizing and executing engagements on time and within budget.</li></ul><p><br></p><b>What are we looking for?</b><ul><li>Bachelorâs degree in science, computer science, engineering, or equivalent experience.</li><li>Ability to understand project requirements, deliverables, and dig deeper to ask insightful questions.</li><li>Experience with submitting SR&amp;ED claims or other tax credits</li><li>Proven experience managing clients alongside personal workload; able to handle relationships with 30-35 clients per year.</li><li>Excellent verbal and written communication, including structured and efficient writing skills; strong listening abilities.</li><li>Comfortable leading client interactions from kickoff to submission, providing clients with all necessary tools for success.</li><li>Enthusiastic about automating processes and providing the necessary tooling for efficiency.</li></ul><p><br></p><b>Why join Humi?</b><ul><li>As a team that services the SMB world, we are a team that understands you perform best in an environment that cares about their employees</li><li>Be part of a high performing team of critical thinkers that thrive on problem solving</li><li>Access leadership and growth opportunities as the company rapidly scales</li><li>Maintain work-life engagement with flex hours and our Long(er) weekends initiative</li><li>Opportunity to work fully remote across Canada if you choose to</li></ul><p><br></p><p></p>\\n<div>$80,000 - $110,000 a year</div>\\n<p>At Humi, we are dedicated to fostering a diverse, equitable, and inclusive work environment where everyone feels a sense of belonging. We want you to know that you're welcome here, no matter who you are. Indigenous peoples, racialized persons/persons of colour, women, persons with disabilities, LGBTQ2S+ persons, and others â we're excited to hear from you. Even if you don't check every box on the requirements list, don't sweat it â we believe in potential over perfection! Need any interview accommodations? We're happy to help! Get in touch and let's chat.</p><p><br></p><p><i>Please note that all successful candidates will only receive offers through the Humi platform and we do not issue offers outside of our platform. We do not make any offers of employment via social media. Please see our resource library for the best ways to detect fraud and fraudulent activity.</i></p><br/><br/>Please mention the word **MEMORABLE** and tag RMzguNjguMTM0LjE5NA== when applying to show you read the job post completely (#RMzguNjguMTM0LjE5NA==). This is a beta feature to avoid spam applicants. Companies can search these words to find applicants that read this and see they're human.",
            "location": "Canada",
            "salary_min": 80000,
            "salary_max": 120000,
            "apply_url": "https://remoteOK.com/remote-jobs/remote-senior-consultant-sramped-humi-1059001",
            "url": "https://remoteOK.com/remote-jobs/remote-senior-consultant-sramped-humi-1059001"
          },
          {
            "slug": "remote-insurance-producer-wilmington-de-horace-mann-agent-opportunities-1058947",
            "id": "1058947",
            "epoch": 1733122802,
            "date": "2024-12-02T07:00:02+00:00",
            "company": "Horace Mann - Agent Opportunities",
            "company_logo": "https://remoteok.com/assets/img/jobs/eedb78b79497b2432da1213d13e3bcb31733122803.jpg",
            "position": "Insurance Producer Wilmington DE",
            "tags": [
              "financial",
              "sales",
              "health",
              "non tech"
            ],
            "logo": "https://remoteok.com/assets/img/jobs/eedb78b79497b2432da1213d13e3bcb31733122803.jpg",
            "description": "<p>At <a href=\"https://www.horacemann.com/en/about-us\">Horace Mann</a>, we are motivated by educators taking care of our children's futures, and we believe they deserve someone to look after theirs. We are passionate about providing solutions to safeguard what they have today and help them achieve financial success to live better and retire happier.</p>\n<p>As an Insurance Producer with Horace Mann, you dictate your earnings with unlimited income potential. Our insurance products are designed specifically for educators, and we provide exceptional training, competitive rates, and flexible work arrangements. Our compensation, incentives, and bonus potential are unparalleled in the industry.</p>\n<p>Join our team today and take the first step towards achieving your career aspirations.</p>\n<p><strong><u>You Will Enjoy the Following</u></strong></p>\n<ul>\n<li>A performance-based compensation package includes a 36-month incentive and \"enhanced\" commissions.</li>\n<li>Monthly incentives for new agents based on months 1-36 sales volume.</li>\n<li>Earning quarterly production incentives for the first 36 months.</li>\n<li>No External Office Requirement.</li>\n<li>The ability to prospect and work within established books of business while building your practice.</li>\n<li>A niche market to increase your opportunity for success.</li>\n<li>Value-Added Services will get you in front of our ideal client base.</li>\n<li>Simple, streamlined product offerings and sales processes allow early production results.</li>\n<li>Networking, community, sales, and industry events.</li>\n<li>Market and relationship-building programs.</li>\n<li>A 'One-Stop Shop' multi-line product portfolio.</li>\n</ul>\n<p><strong><u>Responsibilities</u></strong></p>\n<ul>\n<li>Dedication to solving the financial challenges educators face.</li>\n<li>Exude confidence and enthusiasm while presenting to potential customers, one-on-one and in large groups.</li>\n<li>Participate in various events such as networking events, community events, sales events, and industry events to expand your professional connections.</li>\n<li>Engage with the local community and learn about new products and services.</li>\n<li>Stay up to date with the latest industry trends.</li>\n<li>Achieve success in acquiring market entry and cultivating strong connections.</li>\n<li>Be willing to invest time and resources to ensure business success; and</li>\n<li>Possess or the ability to obtain resident state General Lines licenses:\n<ul>\n<li>Life &amp; Health</li>\n<li>Property &amp; Casualty</li>\n</ul>\n</li>\n</ul>\n<p>Pay Structure</p>\n<ul>\n<li>Sign-on Bonus</li>\n<li>Uncapped Earnings/Commission</li>\n<li>Structured Incentive/Bonus Pay</li>\n</ul>\n<p>Work Setting</p>\n<ul>\n<li>In-Person</li>\n<li>In the Field</li>\n<li>Office</li>\n<li>Remote</li>\n</ul>\n<p>Licenses/Certifications [preferred or will be required prior to appointment]</p>\n<ul>\n<li>Life &amp; Health Insurance License</li>\n<li>Property &amp; Casualty License</li>\n<li>Driver's License [Required]</li>\n</ul>\n<p>Insurance producers report to the Regional Field Leader, who also acts as the Agency Consultant<strong>.</strong></p>\n<p><strong><em>Horace Mann Educators Corporation - Founded by Educators for Educators</em></strong></p>\n<p><em>Educators founded the Horace Mann Educator Corporation in 1945. We are the most comprehensive national multi-line insurance and financial services company dedicated to serving America's educators and families. We are an equal-opportunity employer.</em></p>\n<p>&nbsp;</p>\n<p>#VIZI#</p>\n<p>#LI-SO1</p>\n<p>#LI-CP1</p><br/><br/>Please mention the word **SUCCESS** and tag RMzguNjguMTM0LjE5NA== when applying to show you read the job post completely (#RMzguNjguMTM0LjE5NA==). This is a beta feature to avoid spam applicants. Companies can search these words to find applicants that read this and see they're human.",
            "location": "Wilmington, Delaware, United States",
            "salary_min": 40000,
            "salary_max": 80000,
            "apply_url": "https://remoteOK.com/remote-jobs/remote-insurance-producer-wilmington-de-horace-mann-agent-opportunities-1058947",
            "url": "https://remoteOK.com/remote-jobs/remote-insurance-producer-wilmington-de-horace-mann-agent-opportunities-1058947"
          },
          {
            "slug": "remote-senior-customer-success-manager-clariti-cloud-inc-1058939",
            "id": "1058939",
            "epoch": 1733119204,
            "date": "2024-12-02T06:00:04+00:00",
            "company": "Clariti Cloud Inc.",
            "company_logo": "",
            "position": "Senior Customer Success Manager",
            "tags": [
              "manager",
              "saas",
              "technical",
              "growth",
              "investment",
              "cloud",
              "senior",
              "sales",
              "health",
              "executive"
            ],
            "description": "<h3><strong>What will you work on?</strong></h3>\n<p>Reporting to the EVP, Customer Experience, the Senior Customer Success Manager (Enterprise) will be a trusted advisor to our Strategic customer segment, helping them achieve maximum value from the Clariti solution. You will understand your clients' digital adoption goals and recommend solutions to help them get the most out of our product and exceed their goals.</p>\n<p>As a <strong>Senior Customer Success Manager </strong>at Clariti, youâll get to :</p>\n<ul>\n<li>Be the 'voice of the customer' and provide internal feedback to maximize customer value and retention.</li>\n<li>Schedule and prepare Executive Business Reviews for customers, with the top priority of increasing customer adoption and proving Return on Investment that leads to renewals/expansion.</li>\n<li>Maintain an understanding of our product and roadmap so you can guide customers to success and continue to promote up their Adoption Score.</li>\n<li>Educate customers on the most relevant features of their specific requirements.</li>\n<li>Understand your customer's industry trends, challenges with digital adoption, and current and potential use cases for Clariti.</li>\n<li>Establish and develop strategic, trusted advisor relationships at the highest relevant levels (Decision Makers, Champions, Economic Buyers) by guiding the customer on best practice usage of the platform to help manage risk and exceed their goals.</li>\n<li>Work with the internal Account team and Customer to develop a Success Plan outlining how Clariti addresses their immediate/future needs (including metrics for success).</li>\n<li>Monitor customer health to reach out to customers before risks escalate and identify remediation options.</li>\n<li>Partner with Clariti Account Team (Account Executives, Services, Technical Support) to ensure customers renew and expand.</li>\n<li>Utilize available data and customer knowledge to identify risks, then take the necessary steps to document your plan and mitigate the risk</li>\n</ul>\n<h3><strong>What you bring to the team?</strong></h3>\n<ul>\n<li>5+ years of customer advocacy and engagement experience in Enterprise SaaS customer success, account management, or post-sales relationship management</li>\n<li>Significant experience managing a quarterly retention and growth quota.</li>\n<li>Previous experience maintaining a book of at least 4-6 Strategic customer accounts.</li>\n<li>Demonstrated experience increasing customer satisfaction, adoption, and retention applied to a technical product.</li>\n<li>High competency in sales discovery methodologies and an ability to run Return on Investment discussions</li>\n<li>Experience in an enterprise solution sales environment, partnering with account executives to develop and close sales opportunities.</li>\n</ul>\n<p>The salary range for this role is expected to be between 90-135k based on the candidateâs skills, experience, and qualifications while considering internal pay equity and our broader pay philosophy.</p>\n<p>If you have questions about compensation as we move through the process, weâre happy to discuss further.</p><br/><br/>Please mention the word **IMPECCABLE** and tag RMzguNjguMTM0LjE5NA== when applying to show you read the job post completely (#RMzguNjguMTM0LjE5NA==). This is a beta feature to avoid spam applicants. Companies can search these words to find applicants that read this and see they're human.",
            "location": "Vancouver, British Columbia, Canada",
            "salary_min": 65000,
            "salary_max": 107500,
            "apply_url": "https://remoteOK.com/remote-jobs/remote-senior-customer-success-manager-clariti-cloud-inc-1058939",
            "logo": "",
            "url": "https://remoteOK.com/remote-jobs/remote-senior-customer-success-manager-clariti-cloud-inc-1058939"
          },
          {
            "slug": "remote-data-entry-assistant-skillerszone-1058875",
            "id": "1058875",
            "epoch": 1733090405,
            "date": "2024-12-01T22:00:05+00:00",
            "company": "Skillerszone",
            "company_logo": "",
            "position": "Data Entry Assistant",
            "tags": [
              "assistant",
              "training",
              "growth",
              "e-commerce"
            ],
            "description": "<p><b>Location:</b> Remote</p><p><b>Job Type:</b> Full-Time/Part-Time</p><p><br></p><p><b>Job Description:</b>&nbsp;</p><p><br></p><p>We are seeking a motivated and enthusiastic Remote Customer Service Representative to join our team. As a Customer Service Representative, you will be the first point of contact for our customers, providing assistance, resolving issues, and ensuring an exceptional customer experience.</p>\\n<p></p><p><br></p><p></p>\\n<div>$25 - $45 an hour</div><small><div>Key Responsibilities</div><div>Respond to customer inquiries via phone, email, and live chat in a timely and professional manner.</div><div>Provide accurate information about products, services, and policies.</div><div>Resolve customer complaints and issues efficiently, aiming for first-contact resolution.</div><div>Document and update customer records based on interactions.</div><div>Collaborate with team members and other departments to address customer needs.</div><div>Identify and escalate priority issues when necessary.</div><div>Follow up with customers to ensure their issues are resolved and they are satisfied with the service.</div><div>Stay up-to-date with product knowledge and company updates to provide accurate information to customers.</div><div>Multilingual abilities are a plus.</div><div>Familiarity with e-commerce platforms and online customer support.</div></small>\\n<p>Requirement:</p><p><br></p><p>High school diploma or equivalent; college degree preferred.</p><p>Proven experience in a customer service role, preferably in a remote setting.</p><p>Excellent communication skills, both written and verbal.</p><p>Strong problem-solving abilities and attention to detail.</p><p>Ability to multitask, prioritize, and manage time effectively.</p><p>Proficient in using customer service software, CRM systems, and other relevant tools.</p><p>Self-motivated and able to work independently with minimal supervision.</p><p>Reliable internet connection and a quiet work environment.</p><p>Competitive salary and benefits package.</p><p>Flexible working hours.</p><p>Opportunities for growth and advancement within the company.</p><p>Comprehensive training and continuous learning opportunities.</p><p>Supportive and collaborative team environment.</p><br/><br/>Please mention the word **STIMULATE** and tag RMzguNjguMTM0LjE5NA== when applying to show you read the job post completely (#RMzguNjguMTM0LjE5NA==). This is a beta feature to avoid spam applicants. Companies can search these words to find applicants that read this and see they're human.",
            "location": "Charlotte,North Carolina",
            "apply_url": "https://remoteOK.com/remote-jobs/remote-data-entry-assistant-skillerszone-1058875",
            "salary_min": 0,
            "salary_max": 0,
            "logo": "",
            "url": "https://remoteOK.com/remote-jobs/remote-data-entry-assistant-skillerszone-1058875"
          },
          {
            "slug": "remote-lead-software-engineer-sandbox-recorded-future-1058716",
            "id": "1058716",
            "epoch": 1733014801,
            "date": "2024-12-01T01:00:01+00:00",
            "company": "Recorded Future",
            "company_logo": "https://remoteok.com/assets/img/jobs/115845821f029778cbb6a973441dd9401733014808.png",
            "position": "Lead Software Engineer Sandbox",
            "tags": [
              "software",
              "back-end",
              "web",
              "lead",
              "engineer"
            ],
            "logo": "https://remoteok.com/assets/img/jobs/115845821f029778cbb6a973441dd9401733014808.png",
            "description": "<p>Together with our team, youâll be developing, running and maintaining Recorded Futureâs state of the art malware analysis sandbox. Check out our free Public version (https://tria.ge) to get a taste of what weâre building.</p>\n<p><strong>Parts of) the job:</strong></p>\n<ul>\n<li>Extend our data processing capabilities to provide rich reports on malware through static and dynamic analysis.</li>\n<li>Build tools and infrastructure to run our diverse workloads. Youâll be: managing over 10PB of data, running millions of VMs a day and processing TBs of data every hour.</li>\n<li>Build web services to help our users effectively interact with Sandbox.</li>\n<li>Build tools to customize and analyze operating systems and hypervisors for malware analysis. (Windows, Unix, Android, qemu etc.)</li>\n</ul>\n<p>Consider applying if you find any of these topics interesting. Team members often specialise in one or more of these topics.</p>\n<p><strong>You</strong></p>\n<ul>\n<li>are comfortable working asynchronously.</li>\n<li>are proficient with at least one back-end language, preferably Go.</li>\n<li>have a proven track record of building high-quality software (through past experience, projects or contributions).</li>\n<li>automate repetitive tasks.</li>\n</ul>\n<p><strong>(Optionally) you have experience with</strong></p>\n<ul>\n<li>Linux</li>\n<li>Postgres</li>\n<li>QEMU</li>\n<li>Implementing RFCs and protocols</li>\n</ul>\n<p>#LI-remote</p><br/><br/>Please mention the word **RECTIFYING** and tag RMzguNjguMTM0LjE5NA== when applying to show you read the job post completely (#RMzguNjguMTM0LjE5NA==). This is a beta feature to avoid spam applicants. Companies can search these words to find applicants that read this and see they're human.",
            "location": "Gothenburg, VÃ¤stra GÃ¶taland, Sweden",
            "salary_min": 60000,
            "salary_max": 100000,
            "apply_url": "https://remoteOK.com/remote-jobs/remote-lead-software-engineer-sandbox-recorded-future-1058716",
            "url": "https://remoteOK.com/remote-jobs/remote-lead-software-engineer-sandbox-recorded-future-1058716"
          },
          {
            "slug": "remote-senior-software-engineer-sanity-1058699",
            "id": "1058699",
            "epoch": 1733008504,
            "date": "2024-11-30T23:15:04+00:00",
            "company": "Sanity",
            "company_logo": "",
            "position": "Senior Software Engineer",
            "tags": [
              "golang",
              "software",
              "system",
              "content",
              "senior",
              "engineer"
            ],
            "description": "Remote - Remote: Based in North America (East Coast/ET) or Europe (Norway, United Kingdom, Sweden, Denmark, Ireland, Spain, Finland, Estonia)Senior Software Engineer (Backend) - Content Lake DXSanity.io is the content operating system that replaces rigid legacy CMS, so for...<br/><br/>Please mention the word **ENCOURAGING** and tag RMzguNjguMTM0LjE5NA== when applying to show you read the job post completely (#RMzguNjguMTM0LjE5NA==). This is a beta feature to avoid spam applicants. Companies can search these words to find applicants that read this and see they're human.",
            "location": "",
            "salary_min": 70000,
            "salary_max": 110000,
            "apply_url": "https://remoteOK.com/remote-jobs/remote-senior-software-engineer-sanity-1058699",
            "logo": "",
            "url": "https://remoteOK.com/remote-jobs/remote-senior-software-engineer-sanity-1058699"
          },
          {
            "slug": "remote-associate-medical-director-utilization-management-cohere-health-1058688",
            "id": "1058688",
            "epoch": 1733004004,
            "date": "2024-11-30T22:00:04+00:00",
            "company": "Cohere Health",
            "company_logo": "https://remoteok.com/assets/img/jobs/b8d1cc79b67e386162a53bdb4bfd08a91733004005.png",
            "position": "Associate Medical Director Utilization Management",
            "tags": [
              "director",
              "software",
              "growth",
              "management",
              "content",
              "operational",
              "medical",
              "health",
              "fellowship"
            ],
            "logo": "https://remoteok.com/assets/img/jobs/b8d1cc79b67e386162a53bdb4bfd08a91733004005.png",
            "description": "<p><strong>Company Overview:</strong></p>\n<p>Cohere Health is a fast-growing clinical intelligence company thatâs improving lives at scale by promoting the best patient-specific care options, using cutting-edge AI combined with deep clinical expertise. In only four years our solutions have been adopted by health plans covering over 15 million lives, while our revenues and company size have quadrupled.&nbsp; That growth combined with capital raises totaling $106M positions us extremely well for continued success. Our awards include: 2023 and 2024 BuiltIn Best Place to Work; Top 5 LinkedInâ¢ Startup; TripleTree iAward; multiple KLAS Research Points of Light awards, along with recognition on Fierce Healthcare's Fierce 15 and CB Insights' Digital Health 150 lists.</p>\n<p><strong>Opportunity Overview:</strong></p>\n<p>We are looking for physicians who have expertise in Internal Medicine including medical and surgical clinical areas to deliver on Cohereâs program by determining the medical appropriateness of services by reviewing clinical information and applying evidence-based guidelines.&nbsp;</p>\n<p>Reporting to the Medical Director for Cohere Health, this is a critical role in a company that is rapidly scaling to impact millions of patients. This is a fast-paced environment that favors people who are able to learn quickly, be hands-on, handle ambiguity, and communicate effectively with people of different backgrounds and perspectives.</p>\n<p>Last but not least: People who succeed here are empathetic teammates who are candid, kind, caring, and embody <a href=\"https://coherehealth.com/blog/healthcare-software-people-actually-love/\">our core values and principles</a>. We believe that diverse, inclusive teams make the most impactful work. Cohere is deeply invested in ensuring that we have a supportive, growth-oriented environment that works for everyone.</p>\n<p><strong>What you will do:</strong></p>\n<ul>\n<li>Support the clinical content team in reviewing the companyâs clinical decision guidelines and evidence based literature&nbsp;</li>\n<li>Provide expert input on content for influencing physicians in medical care to improve the quality of patient outcomes</li>\n<li>Provide timely medical reviews that meet Cohereâs stringent quality and timeliness parameters</li>\n<li>Provide clinical determinations based on evidence-based criteria while utilizing clinical acumen and knowledge of evidence based literature and medical society guidelines</li>\n<li>Clearly and accurately document all communication and decision-making in Cohere workflow tools, ensuring a member and provider can easily reference and understand your decision</li>\n<li>Use correct templates for documenting medical necessity decisions during case review</li>\n<li>Conduct timely peer-to-peer discussions with treating providers to clarify clinical information and to explain review outcome decisions, including feedback on alternate treatment based on medical necessity criteria and evidence-based research</li>\n<li>Demonstrate the highest level of professionalism, accountability, and service in your interactions with Cohere teammates and providers</li>\n<li>Support projects specific to building the team's clinical expertise and efficiency, as delegated</li>\n<li>Support the team on operational improvements and member/provider experience involving clinical review tasks, as delegated</li>\n</ul>\n<p><strong>Your background &amp; requirements:</strong></p>\n<p>Required:</p>\n<ul>\n<li>Completed US-based residency program and fellowship in Internal Medicine</li>\n<li>Board certification as an MD or DO with a current unrestricted state license to practice medicine - reviewers must maintain necessary credentials to retain the position</li>\n<li>5+ years of clinical practice beyond residency/fellowship in Internal Medicine</li>\n<li>Excels in a matrix organization</li>\n<li>Comfortable with technology - willing and able to learn new software tools</li>\n<li>Understanding of managed care regulatory structure and processes</li>\n<li>Consultant agrees to cooperate fully with Cohere by obtaining state licenses or registrations when requested by Cohere</li>\n</ul>\n<p>Preferred:</p>\n<ul>\n<li>2+ years of managed care utilization review experience desirable</li>\n<li>Membership in national and/or regional specialty societies</li>\n</ul>\n<p>&nbsp;</p>\n<p><strong>We canât wait to learn more about you and meet you at Cohere Health!</strong></p>\n<p><strong>Equal Opportunity Statement:&nbsp;</strong></p>\n<p>Cohere Health is an Equal Opportunity Employer. We are committed to fostering an environment of mutual respect where equal employment opportunities are available to all.&nbsp; To us, itâs personal.</p>\n<p>The salary range for this position is $200,000 to $270,000 annually, based on years of utilization management experience; as part of a total benefits package which includes health insurance, 401k and bonus. In accordance with state applicable laws, Cohere is required to provide a reasonable estimate of the compensation range for this role. Individual pay decisions are ultimately based on a number of factors, including but not limited to qualifications for the role, experience level, skillset, and internal alignment.</p>\n<p>#LI-Remote</p>\n<p>#BI-Remote</p><br/><br/>Please mention the word **TREMENDOUSLY** and tag RMzguNjguMTM0LjE5NA== when applying to show you read the job post completely (#RMzguNjguMTM0LjE5NA==). This is a beta feature to avoid spam applicants. Companies can search these words to find applicants that read this and see they're human.",
            "location": "Boston, Massachusetts, United States",
            "apply_url": "https://remoteOK.com/remote-jobs/remote-associate-medical-director-utilization-management-cohere-health-1058688",
            "salary_min": 0,
            "salary_max": 0,
            "url": "https://remoteOK.com/remote-jobs/remote-associate-medical-director-utilization-management-cohere-health-1058688"
          },
          {
            "slug": "remote-junior-delivery-engineer-masterborn-1058679",
            "id": "1058679",
            "epoch": 1733000404,
            "date": "2024-11-30T21:00:04+00:00",
            "company": "MasterBorn",
            "company_logo": "https://remoteok.com/assets/img/jobs/920a68b4782381ad4b1b22aef2de38d71733000406.png",
            "position": "Junior Delivery Engineer",
            "tags": [
              "saas",
              "system",
              "training",
              "technical",
              "software",
              "code",
              "postgresql",
              "microsoft",
              "management",
              "junior",
              "health",
              "engineer",
              "full-time"
            ],
[...]
